* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Basic Layout */
body {
	background-color: rgb(155, 155, 155);
	font-size: 1.25rem;
}

h1 {
	margin-left: 20px;
}

ol {
	border-radius: 30px;
	margin: 10px;
}
li {
	text-align: center;
}

button {
	background-color: burlywood;
	border-radius: 5px;
	padding: 3px;
	color: #000000;
	cursor: pointer;
	font-size: 18px;
	margin: 0 15px;
	transition: all 200ms;
}

/* Class */
.todoContainer {
	margin: 100px;
	display: flex;
	background-color: rgba(73, 73, 73, 0.775);
	border-radius: 10px;
	box-shadow: chartreuse 20px;
}
.todoForm {
	padding: 200px 75px;
	border-right: #000000 2px dotted;
}
.todoList {
	margin: auto;
	font-size: 25px;
}

/* Navigation Bar */
.topnav {
	margin: 10px;
}

.topnav a {
	float: right;
	display: block;
	color: #050505;
	text-align: center;
	padding: 13px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Form */
form {
	padding: 10px;
	text-align: center;
}

input {
	background-color: burlywood;
	color: rgb(255, 255, 255);
	border: none;
	padding: 7px;
	font-size: 20px;
	border-radius: 5px;
}

label {
	color: rgb(255, 255, 255);
}

/* Mobile View */
@media only screen and (max-width: 425px) {
	/* Basic Layout */
	h1 {
		margin-left: 110px;
	}
	li {
		text-align: center;
	}

	/* Class */
	.todoContainer {
		display: block;
		border: none;
	}
	.todoForm {
		border: none;
		background: none;
	}
	.todoList {
		margin: auto;
		font-size: 10px;
	}
	/* Form */
	form {
		padding: 2px;
		text-align: center;
	}

	input {
		background-color: burlywood;
		color: rgb(255, 255, 255);
		border: none;
		font-size: 5px;
		border-radius: 5px;
	}

	label {
		color: rgb(255, 255, 255);
	}
}
/* Tablet View */
@media only screen and (max-width: 768px) {
	body {
		background-image: none;
		background-color: darkgray;
	}
	li {
		text-align: center;
	}

	/* Class */
	.todoContainer {
		display: block;
		border: none;
	}
	.todoForm {
		border: none;
		background: none;
	}
}
