.ListItem {
	color: rgb(0, 0, 0);
	display: block;
	padding: 10px;
	font-size: 10px;
	position: relative;
	margin: 20px auto;
	width: 250px;
}
.checkSquare1 {
    color: rgb(255, 0, 0);
}
.checkSquare2 {
    color: rgb(16, 121, 0);
}
.checkSquare3 {
    color: rgb(4, 22, 154);
}
.ListItem span {
	position: absolute;
	right: 10px

}

@media only screen and (min-width: 768px) {
	.ListItem {
		color: rgb(0, 0, 0);
		display: block;
		padding: 10px;
		font-size: 10px;
		position: relative;
		margin: 20px auto;
		width: 350px;
	}
	.checkSquare1 {
		color: rgb(255, 0, 0);
	}
	.checkSquare2 {
		color: rgb(16, 121, 0);
	}
	.checkSquare3 {
		color: rgb(4, 22, 154);
	}
	.ListItem span {
		position: absolute;
		right: 10px

	}
}
